/**.DS_Store
/registration_numbers/church/**/**.*
/registration_numbers/processed/**/**.*
/registration_numbers/numbers/**.*
/registration_numbers/files/**.*
/registration_numbers/events/**/**.*
/registration_numbers/.venv/*
.venv/*
church/**/**.*
processed/**/**.*