**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/.DS_Store
**/README.md
**/LICENSE
**/*.md
**/node_modules
**/.env
**/.idea
**/*.nupkg
**/nupkgs
**/Tests